// Variáveis CSS para tema claro
:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  --logo-wrapper-filter: opacity(0.5) contrast(1.2);
  --login-bg-image: url('/assets/images/fundo-login-light.png');
  --login-gradient-start: rgba(241, 241, 241, 0.9);
  --login-gradient-end: rgba(241, 241, 241, 0.4);
}

// Variáveis CSS para tema escuro
[data-bs-theme="dark"] :host {
  --logo-wrapper-filter: brightness(0.6) contrast(1.2);
  --login-bg-image: url('/assets/images/fundo-login-dark.png');
  --login-gradient-start: rgba(0, 0, 0, 0.9);
  --login-gradient-end: rgba(0, 0, 0, 0.1);
}

.nobleui-logo {
  font-weight: 700;
  font-size: 1.5rem;

  span {
    color: var(--bs-primary);
    font-weight: 500;
  }
}

.logo-wrapper {
  text-align: center;

  img {
    border-radius: 8px;
    max-height: 160px;
    filter: var(--logo-wrapper-filter);
  }
}

.auth-card {
  background-position: right;
  background-image: linear-gradient(to top, var(--login-gradient-start), var(--login-gradient-end)), var(--login-bg-image);
}

.auth-form-left {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    max-width: 150px;
    height: auto;
    opacity: 0.2;
    filter: grayscale(100%);
  }
}

form i {
  margin-top: -50px;
  cursor: pointer;
}
