<div class="card mb-1">
  <div class="card-body p-3 px-4">
    
    <app-gestao-indicadores [cockpitId]="cockpitId" 
      (indicadorCriado)="onIndicadorCriado($event)"
      (indicadorRemovido)="onIndicadorRemovido($event)"
      (indicadorAtualizado)="onIndicadorAtualizado()">
    </app-gestao-indicadores>

  </div>
</div>

<div class="card mb-1">
  <div class="card-body p-2 px-4">
    <h6 class="section-title">
      <i class="bi bi-calendar-range me-2"></i>
      Metas e Valores Mensais
    </h6>
    <!-- <small class="text-muted">
          Preencha as metas e valores realizados mês a mês
        </small> -->
  </div>
</div>

<!-- Seção 2: Metas e Valores Mensais -->

<app-edicao-valores-mensais #valoresMensais [cockpitId]="cockpitId">
</app-edicao-valores-mensais>