
/* Classes de status para ng-select */
::ng-deep ng-select.bg-danger .ng-select-container {
  background-color: var(--bs-danger-bg-subtle) !important;
  border-color: var(--bs-danger) !important;
}

::ng-deep ng-select.bg-warning .ng-select-container {
  background-color: var(--bs-warning-bg-subtle) !important;
  border-color: var(--bs-warning) !important;
}

::ng-deep ng-select.bg-warning .ng-value-label,
::ng-deep ng-select.bg-warning .ng-placeholder {
  color: var(--bs-emphasis-color) !important;
}

::ng-deep ng-select.bg-success .ng-select-container {
  background-color: var(--bs-success-bg-subtle) !important;
  border-color: var(--bs-success) !important;
}