
.table-hover tbody tr:hover > * {
		background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
	}

  .table-hover tbody td {
		vertical-align: middle;
	}


.form-check-input {
	border-color: var(--bs-primary);
}


.alert-custom-primary {
  padding: 3px;
  margin-bottom: 2px;
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  border-color: rgba(var(--bs-primary-rgb), 0.3);
  //border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  color: var(--bs-body-color);
}

/* Input de busca com ícone (não existe no padrão) */
.input-icon {
  position: relative;

  &-addon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bs-text-muted);
    font-size: 1rem;
  }

  input {
    padding-left: 2.5rem;
  }
}

.search-inline {
  min-width: 240px;
}

.ng-select-primary-border {
	.ng-select-container {
		border-color: var(--bs-primary) !important;
	}

	&.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
		border-color: var(--bs-primary) !important;
	}
}

// Padronização de títulos nas abas do cockpit
.cockpit-tab-header {
	margin-bottom: 0.75rem;
}

.cockpit-tab-title {
	margin: 0;
	min-height: 32px;
	display: flex;
	align-items: center;
}

/* Offcanvas customizado */
.offcanvas-large {
	width: 450px !important;
	max-width: 90vw;
}



/* Offcanvas maior em mobile (global) */
@media (max-width: 768px) {
	.offcanvas {
		width: 100vw !important;
		max-width: 100vw !important;
	}

	.col-mobile-hide {
		display: none;
	}
}

// ========================================
// CUSTOMIZAÇÕES PARA TEMA DARK
// ========================================

// Tema Dark específico
[data-bs-theme="dark"] {
	.form-control:focus {
		border-color: var(--bs-primary);
		box-shadow: 0 0 0 0.1rem rgba(140, 110, 69, 0.25);
	}

	.form-control {
		border-color: #2A2A2A;
		background-color: #0A0A0A;
		color: #FFFFFF;

		&::placeholder {
			color: #6F6F6F;
		}
	}

	.table {
		border-color: #2A2A2A;
		color: #FFFFFF;
	}

	.table th,
	.table td {
		border-color: #2a2a2aee;

	}
	
	.bg-gray-100 {
		background-color: #333333 !important;
	}

	.bg-gray-300 {
		background-color: #131212 !important;
	}

	.bg-black {
		background-color: #ffffff !important;
	}

	.bg-light,
	.table-light {
		--bs-table-bg: #1a1a1a;
		--bs-table-color: #FFFFFF;
		background-color: #1a1a1a !important;
		color: #FFFFFF !important;
	}

	.bg-secondary {
		color: #000000 !important;
	}

	.text-dark,
	.text-black,
	.text-muted {
		color: #FFFFFF !important;
	}

	.text-white {
		color: #000000 !important;
	}

}