$primary-dark:                      rgb(198, 122, 61) !default; //B6915D, A67C00
$secondary-dark:                    $gray-500 !default;

$body-color-dark:                   #d0d6e1 !default;
$body-bg-dark:                      #000000 !default;

$body-tertiary-bg-dark:             mix($gray-700, $gray-900, 50%) !default;

$body-secondary-color-dark:         #7987a1 !default; // Texto secundário
//$link-color-dark:                   #D1B689 !default; // Dourado 02 (Reiche Academy)
$link-color-dark:                   $primary !default;

$border-color-dark:                 #172340 !default;

// $box-shadow-dark:                   0 0 10px 0 rgb(6, 11, 21) !default;

$box-shadow-dark:                  0 .5rem 1rem rgba($black, .35) !default;
$box-shadow-sm-dark:               0 .125rem .25rem rgba($black, .15) !default;
$box-shadow-lg-dark:               0 1rem 3rem rgba($black, .5) !default;

// Card
$card-box-shadow-dark:              3px 0 10px 0 #060b15 !default;
$card-border-color-dark:            #172340;


@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1144px !important;
  }
}