:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  color: white;
  background-color: black;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255,255,255,0.05);
  backdrop-filter: blur(6px);
}

.nobleui-logo {
  color: white;
}

.logo-wrapper {
  text-align: center;
  
  img {
    max-width: 300px;
    height: auto;
  }
}

.logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.60), rgba(0,0,0,0.20));
}
