<div class="container">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card auth-card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/logo_reiche_250x650.png)' }">
  
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">REICHE<span>ACADEMY</span></a>
              <h5 class="text-secondary fw-normal mb-4">{{ 'AUTH.LOGIN.TITLE' | translate }}</h5>
              <div *ngIf="errorMessage" class="text-danger small mb-3">{{ errorMessage }}</div>
              <form class="forms-sample" [formGroup]="form" (submit)="onLoggedin($event)">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">{{ 'AUTH.LOGIN.EMAIL_LABEL' | translate }}</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" [placeholder]="'AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate" formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">{{ 'AUTH.LOGIN.PASSWORD_LABEL' | translate }}</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" [placeholder]="'AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate" formControlName="senha">
                </div>
                <div class="form-check mb-3">
                  <input type="checkbox" class="form-check-input" id="authCheck" formControlName="remember">
                  <label class="form-check-label" for="authCheck">
                    {{ 'AUTH.LOGIN.REMEMBER_ME' | translate }}
                  </label>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    {{ 'AUTH.LOGIN.LOGIN_BUTTON' | translate }}
                  </button>
                  <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                    <i class="feather icon-twitter btn-icon-prepend"></i>
                    Login com twitter
                  </button> -->
                </div>
                <!-- <a routerLink="/auth/register" class="d-block mt-3 text-secondary">Não é um usuário? Cadastre-se</a> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>