// Variáveis CSS para tema claro
:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  --login-bg-image: url('/assets/images/fundo-login1.png');
  --login-gradient-start: rgba(241, 241, 241, 0.9);
  --login-gradient-end: rgba(233, 233, 233, 0.5);
}

// Variáveis CSS para tema escuro
[data-bs-theme="dark"] :host {
  --login-bg-image: url('/assets/images/fundo-login2.png');
  --login-gradient-start: rgba(0, 0, 0, 0.9);
  --login-gradient-end: rgba(0, 0, 0, 0.5);
}

.nobleui-logo {
  font-weight: 700;
  font-size: 1.5rem;
  span {
        color: var(--bs-primary);
        font-weight: 500;
      }
}

.logo-wrapper {
  text-align: center;
  img {
    border-radius: 8px;
    max-width: 300px;
    height: auto;
    filter: brightness(0.6);
  }
}

.auth-card {
  background-position: right;
  background-image: linear-gradient(to left, var(--login-gradient-start), var(--login-gradient-end)), var(--login-bg-image);
}

.auth-form-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  img {
    max-width: 150px;
    height: auto;
    opacity: 0.05;
    filter: grayscale(100%) brightness(1.2);
  }
}