:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  color: white;
  background-color: black;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.05);
  backdrop-filter: blur(6px);
}

.nobleui-logo {
  color: white;
}

.logo-wrapper {
  text-align: center;
  img {
    border-radius: 8px;
    max-width: 300px;
    height: auto;
    filter: brightness(0.6);
  }
}

.auth-card {
  background-position: right;
  background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url('/assets/images/fundo-login2.png');
  //opacity: 0.8;
}

.auth-form-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  img {
    max-width: 150px;
    height: auto;
    opacity: 0.05;
    filter: grayscale(100%) brightness(1.2);
  }
}